
.shopcart-item-img {
    width: 100%;
}
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    max-width: 400px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}
.modal-header {
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 12px;
    background-color: #67c9ba;
    font-size: 16px;
    color: #fff;
}
/*Right*/
.modal.right.fade .modal-dialog {
    right: -400px;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}